/* ================ 1200px ================ */
@media (min-width: 1200px) and (max-width: 1399px) {
    #banner h1 {
        font-size: 70px;
    }

    .service_main .service_content {
        width: 91%;
    }

    #testimonial .test_item .test_shape_top {
        border-left: 356px solid transparent;
    }

    .about_left img {
        height: 390px;
    }

    .member_main .member_item:nth-child(2n+1) .member_right {
        margin-left: 80px;
    }

    .member_main .member_item .member_right {
        margin-left: 150px;
    }

    #testimonial .test_item .test_img {
        top: -55px;
        left: 20px;
        width: 100px;
        height: 100px;
    }

    .web_banner {
        background: linear-gradient(110deg, rgba(0, 0, 0, 0.85) 55%, transparent 45%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    #testimonial {
        padding-bottom: 100px;
    }

    .work_info .work_text {
        width: 70%;
    }
}

/* ================ 992px ================ */
@media (min-width: 992px) and (max-width: 1199px) {
    #banner h1 {
        font-size: 50px;
        margin-top: 0;
    }

    #banner {
        padding: 80px 0;
    }

    #banner p {
        width: 510px;
    }

    .service_main .service_content {
        width: 90%;
    }

    .team_item .team_content h3 {
        font-size: 15px;
    }

    .team_item .team_content p {
        font-size: 14px;
    }

    .test_col {
        height: 500px;
    }

    #testimonial .test_item .test_shape_top {
        border-left: 296px solid transparent;
    }

    #testimonial .test_item .test_img {
        top: -55px;
        left: 12px;
        width: 80px;
        height: 80px;
    }

    .foot2 h3,
    .foot3 h3,
    .foot4 h3 {
        font-size: 16px;
    }

    .foot1 p {
        font-size: 14px;
    }

    .foot21 a {
        font-size: 14px;
    }

    .foot_menu ul li a {
        font-size: 14px;
    }

    .about_left img {
        height: 415px;
    }

    .member_main .member_item:nth-child(2n+1) .member_right {
        margin-left: 30px;
    }

    .member_main .member_item .member_right {
        margin-left: 120px;
    }

    .footer_content h3 {
        font-size: 26px;
    }

    .footer_content form button {
        width: 36%;
    }

    .web_banner {
        background: linear-gradient(110deg, rgba(0, 0, 0, 0.85) 55%, transparent 45%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    #testimonial {
        padding-bottom: 100px;
    }

    .work_info .work_text {
        width: 75%;
    }

    .contact_banner {
        background: linear-gradient(110deg, rgba(0, 0, 0, 0.85) 55%, transparent 45%), url('../images/contact_banner.jpg') no-repeat center/cover fixed;
    }

    .contact_main {
        width: 100%;
    }
}

/* ================ 768px ================ */
@media (min-width: 768px) and (max-width: 991px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

    .navbar-toggler-icon {
        color: #fff;
        font-size: 25px;
        margin-top: 6px;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #000;
        padding: 30px 0;
    }

    .navbar-nav .nav-item .nav-link::after {
        display: none;
    }

    .navbar-nav .nav-item .nav-link::before {
        display: none;
    }

    #banner {
        padding: 60px 0;
        text-align: center;
    }

    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .about_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .web_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .work_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .contact_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    #banner h1 {
        font-size: 45px;
        margin-top: 0;
    }

    #banner p {
        font-size: 14px;
        width: 100%;
        padding: 0;
    }

    .service_main .service_content {
        width: 90%;
    }

    #counter .count_content {
        padding-top: 90px;
        padding-bottom: 0;
    }

    #counter .counter_item:last-child {
        margin-bottom: 60px;
    }

    .port_list button {
        margin-bottom: 20px;
    }

    #testimonial .test_item .test_shape_top {
        display: none;
    }

    #testimonial .test_item {
        padding: 100px 30px 30px;
    }

    #testimonial .test_item .test_content {
        width: 100%;
        text-align: center;
    }

    #testimonial .test_item .test_shape_bottom {
        display: none;
    }

    .footer_content h3 {
        font-size: 16px;
        line-height: 26px;
    }

    .footer_content form input {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer_content form button {
        width: 100%;
    }

    .foot2 h3,
    .foot3 h3,
    .foot4 h3 {
        margin-top: 40px;
    }

    .member_main .member_item .member_right {
        margin-left: 150px;
    }

    .member_main .member_item:nth-child(2n+1) .member_right {
        margin-left: 150px;
    }

    #member {
        padding-bottom: 0;
    }

    .member_right h2 {
        font-size: 28px;
        margin-top: 60px;
    }

    .member_right h3 {
        font-size: 26px;
    }

    .web_item {
        margin-bottom: 60px;
    }

    .test_col {
        height: 500px !important;
    }

    #testimonial .test_item {
        margin-top: 100px !important;
    }

    #testimonial .test_item {
        margin-top: 60px;
    }

    .work_main .work_item .work_info {
        display: none;
    }

    .contact_main {
        width: 80%;
        height: 80%;
    }

    .contact_main .contact_form h3 {
        font-size: 34px;
    }
}

/* ================ 576px ================ */
@media (min-width: 576px) and (max-width: 767px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

    .navbar-toggler-icon {
        color: #fff;
        font-size: 25px;
        margin-top: 6px;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #000;
        padding: 30px 0;
    }

    .navbar-nav .nav-item .nav-link::after {
        display: none;
    }

    .navbar-nav .nav-item .nav-link::before {
        display: none;
    }

    #banner {
        padding: 60px 0;
        text-align: center;
    }

    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .about_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .web_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .work_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .contact_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    #banner h1 {
        font-size: 45px;
        margin-top: 0;
    }

    #banner p {
        font-size: 14px;
        width: 100%;
        padding: 0;
    }

    #counter .count_content {
        padding-top: 90px;
        padding-bottom: 0;
    }

    #counter .counter_item:last-child {
        margin-bottom: 60px;
    }

    .port_list button {
        margin-bottom: 20px;
    }

    #testimonial .test_item .test_shape_top {
        display: none;
    }

    #testimonial .test_item {
        padding: 100px 30px 30px;
    }

    #testimonial .test_item .test_content {
        width: 100%;
        text-align: center;
    }

    #testimonial .test_item .test_shape_bottom {
        display: none;
    }

    .footer_content h3 {
        font-size: 16px;
        line-height: 26px;
    }

    .footer_content form input {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer_content form button {
        width: 100%;
    }

    .foot2 h3,
    .foot3 h3,
    .foot4 h3 {
        margin-top: 40px;
    }

    .member_main .member_item .member_right {
        margin-left: 150px !important;
    }

    .member_main .member_item:nth-child(2n+1) .member_right {
        margin-left: 150px !important;
    }

    #member {
        padding-bottom: 0;
    }
    .service_main .service_content {
        width: 93% !important;
    }
    .member_right h2 {
        font-size: 28px;
        margin-top: 60px;
    }

    .member_right h3 {
        font-size: 26px;
    }

    .web_item {
        margin-bottom: 60px;
    }

    .test_col {
        height: 460px !important;
    }

    #testimonial .test_item {
        margin-top: 100px !important;
    }

    #testimonial .test_item {
        margin-top: 60px;
    }

    .work_main .work_item .work_info {
        display: none;
    }

    .contact_main {
        width: 100%;
        height: 100%;
    }

    .contact_main .contact_form h3 {
        font-size: 34px;
    }
    .member_left {
        width: 400px !important;
    }
    .member_left .mem_shape_top {
        display: block !important;
    }
    .member_left .mem_shape_btm {
        display: block !important;
    }
}

/* ================ 575.99px ================ */
@media (max-width: 575.99px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

    .navbar-toggler-icon {
        color: #fff;
        font-size: 25px;
        margin-top: 6px;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #000;
        padding: 30px 0;
    }

    .navbar-nav .nav-item .nav-link::after {
        display: none;
    }

    .navbar-nav .nav-item .nav-link::before {
        display: none;
    }

    #banner {
        padding: 60px 0;
        text-align: center;
    }

    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .about_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .web_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .work_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    .contact_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.85) 50%), url('../images/web_banner.jpg') no-repeat center/cover fixed;
    }

    #banner h1 {
        font-size: 32px;
        margin-top: 0;
    }

    #banner p {
        font-size: 14px;
        width: 100%;
        padding: 0;
    }

    .common_header h3 {
        font-size: 30px;
    }

    .common_header h3::before {
        right: 20px;
    }

    .common_header h3::after {
        left: 20px;
    }

    .service_main .service_content {
        width: 90%;
    }

    .common_header h3 .cmn_span {
        top: -30px;
        left: -48px;
        width: 296px;
        font-size: 45px;
    }


    #counter .count_content {
        padding-top: 90px;
        padding-bottom: 0;
    }

    #counter .counter_item:last-child {
        margin-bottom: 60px;
    }

    .head_team h3::before {
        right: 5px !important;
    }

    .head_team h3::after {
        left: 5px !important;
    }
    .head_team h3 .cmn_span {
        width: 240px !important;
    }
    #testimonial {
        padding-bottom: 0px;
    }
    .header_port h3::after {
        left: 10px !important;
    }

    .port_list button {
        margin-bottom: 20px;
    }

    .header_test h3 .cmn_span {
        left: -40px !important;
    }

    #testimonial .test_item .test_shape_top {
        display: none;
    }

    #testimonial .test_item {
        padding: 100px 30px 30px;
    }

    .test_col {
        height: 550px !important;
    }

    #testimonial .test_item {
        margin-top: 100px !important;
    }

    #testimonial .test_item .test_content {
        width: 100%;
        text-align: center;
    }

    #testimonial .test_item .test_shape_bottom {
        display: none;
    }

    .footer_content h3 {
        font-size: 16px;
        line-height: 26px;
    }

    .footer_content form input {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer_content form button {
        width: 100%;
    }

    .foot2 h3,
    .foot3 h3,
    .foot4 h3 {
        margin-top: 40px;
    }
    .member_main .member_item .member_right {
        margin-left: 10px;
    }
    .preloader h2 {
        font-size: 24px;
        margin-top: -200px;
    }
    .mem_head h3 .cmn_span {
        width: 295px !important;
        font-size: 40px !important;
        left: -40px !important;
    }
    .member_left {
        width: 100%;
    }

    .member_left .mem_shape_top {
        display: none;
    }

    .member_left .mem_shape_btm {
        display: none;
    }

    .member_left img {
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: contain;
    }

    .member_main .member_item:nth-child(2n+1) .member_right {
        margin-left: 10px;
    }

    .member_main .member_item {
        margin-bottom: 60px;
    }

    .member_right h2 {
        font-size: 28px;
        margin-top: 60px;
    }

    .member_right h3 {
        font-size: 26px;
    }

    .web_header h3 .cmn_span {
        left: -26px !important;
        font-size: 36px !important;
    }

    .web_header h3::after {
        left: 45px !important;
    }

    .web_item {
        margin-bottom: 60px;
    }

    #testimonial .test_item {
        margin-top: 60px;
    }

    .work_main .work_item .work_info {
        display: none;
    }

    .contact_main {
        width: 100%;
        height: 100%;
    }

    .contact_main .contact_form h3 {
        font-size: 34px;
    }

}